div.list-group-item{
background:#343a40;
color: white;
border-radius:0px !important;
}

div.list-group-item:hover{
    background:#0056b3;
    color: white;
    border-radius:0px !important;
}

div.list-group-item.active{
    background:#0056b3 !important;
    color: white;
    border-radius:0px !important;
}

.list-group{
    background:#343a40;
    min-height: calc(100vh - 52px);
}

